#page {  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: rgb(10, 51, 70);
}

#calculatorContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    flex-flow: column;
    background-image: url('/img/skulls.png');
    background-color: green;    
    height: 800px;
    width: 50%;
    min-width: 400px;
    border-radius: 20px;
}

    #display {
        display: flex;
        background-color: white;
        flex-wrap: wrap;
        flex-flow: column;
        height: 20%;
        width: 95%;
        margin-top: 20px;
    }

        #input {
            background-color:white;
            height: 60%;
            color: black;
            font-size: 70px;
            text-align: right;
            margin-right: 5px;
            font-style: bold;
            word-wrap: break-word;
        }
        #previous {
            background-color: white;
            text-align: right;
            font-size: 30px;
            height: 40%;
            margin-right: 5px;
            color: grey;
            word-wrap: break-word;
        }


    #buttonContainer {
        flex: display;
        align-items: center;
        justify-content: center;        
        flex-wrap: wrap;
        flex-flow: row;
        height: 80%;
        width: 95%;
        border-radius: 20px;
        margin-bottom: 20px;
    }

        .btn {
            font-size: 50px;
            color:white;
            background: url('/img/blackmamba.png');
            background-color: skyblue;
            height: 20%;
            width: 24%;
            border-radius: 20px;
        }

        .btn:hover {
            background-image: 
                linear-gradient(
                    rgba(0, 0, 0, 0.3),
                    rgba(175, 175, 175, 0.3)),
                    url('/img/blackmamba.png');
            height: 21%;
            width: 24%;
        }


       

       
        



